{
  "presets": [
    [
      "@babel/preset-env",
      { "useBuiltIns": "entry",
        "corejs": { "version": "3", "proposals": true }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-class-properties"
  ]
}
